* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* MAIN CONTENT */
.container {
    text-align: center;
    background: white;
    flex: 1;
    padding-bottom: 20px;
}

/* LOGO */
.logo img {
    width: 70px;
    height: 80px;
    margin-top: 30px;
}

/* TITLE */
h1 {
    font-size: 22px;
    color: #0d3b66;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* SUBTITLE */
.subtitle {
    color: gray;
    font-size: 12px;
    letter-spacing: 1px;
}

/* CARD */
.card {
    width: 350px;
    margin: 30px auto;
    padding: 25px;
    background: #f8f9fb;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: left;
}

.card label {
    font-size: 11px;
    color: #555;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* INPUTS */
select, input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #e2e5ea;
}

select {
    color: #9aa3af;
}

select:valid {
    color: black;
}

select option {
    color: black;
}

/* PASSWORD */
.password-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot {
    color: red;
    font-size: 10px;
    cursor: pointer;
}

.password-box {
    display: flex;
    align-items: center;
    background: #e2e5ea;
    border-radius: 5px;
}

.password-box input {
    border: none;
    background: transparent;
    flex: 1;
}

.eye {
    padding: 10px;
    cursor: pointer;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #0d3b66;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background: #0b2f52;
}

/* WARNING BOX */
.warning {
    width: 350px;
    margin: 20px auto;
    font-size: 11px;
    color: #C3C6D1;
    background:#F2F4F6;
    padding: 10px;
    border-radius: 5px;
}

footer {
    width: 100%;
    padding: 15px;
    font-size: 11px;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    border-top: none;
    box-shadow:0 -1px 3px rgba(0,0,0,0.05);
    background: #fafafa;
}

/* LEFT */
footer .left {
    text-align: left;
}

/* RIGHT */
footer .right {
    text-align: right;
}

footer .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 25px;
}


.lock-icon {
    width: 10px;
    height: 12px;
    margin-left: 6px;   /* small gap from text */
    vertical-align: middle;
}
/* LINKS */
.footer-link {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.footer-link:hover {
    color: #0d3b66;
    text-decoration: none;
}