body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;  /* ✅ pure white */
     display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    text-align: center;
    background: white;
    flex: 1;
}

.logo img {
    width: 50px;
    height: 50px;
}

h1 {
    color: #0d3b66;
    margin: 10px 0 5px;
}

.subtitle {
    color: gray;
    font-size: 12px;
    letter-spacing: 1px;
}

.card {
    width: 350px;
    margin: 30px auto;
    padding: 25px;
    background: #f8f9fb;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: left;
}

.card label {
    font-size: 11px;
    color: #555;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

select, input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #e2e5ea;
}

select {
    color: #9aa3af; /* Gray placeholder */
}
select:valid {
    color: black; /* Dark text after selection */
}

select option {
    color: black;
}

.password-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot {
    color: red;
    font-size: 10px;
    cursor: pointer;
}

.password-box {
    display: flex;
    align-items: center;
    background: #e2e5ea;
    border-radius: 5px;
}

.password-box input {
    border: none;
    background: transparent;
    flex: 1;
}

.eye {
    padding: 10px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #0d3b66;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background: #0b2f52;
}

.warning {
    width: 350px;
    margin: 20px auto;
    font-size: 11px;
    color: gray;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

footer  {
    margin-top: 50px;
    padding: 15px;
    font-size: 11px;
    color: gray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
             
    
}



footer .center {
    display: flex;
    gap: 25px;
}


.footer-link {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.footer-link:hover {
    color: #0d3b66;
    text-decoration: underline;
}

footer .left,
footer .center,
footer .right {
    margin: 15px 0;
}